@charset "UTF-8";

.client_page_section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(22, 22, 22, 0.02);
    backdrop-filter: blur(5px);
}

.client_page_about_article{
    border-bottom: 1px solid rgba(245, 245, 245, 0.10);
    padding: 10px 0;
}

.client_page_main_title{
    font-size: 20pt;
    margin: 20px 0;
    color: #F7931E;
}

.client_page_caption{
    border-left: 3px solid #F7931E;
    padding-left: 5px;
    margin-bottom: 20px;
}

.client_page_paragraph{
}

