@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Candara Light", sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  background: linear-gradient(60deg, black, black, black, black, darkblue, black, black, black, black);
  height: 100vh;
  /*background-color: black;*/
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

:root{
  --border: linear-gradient(to right, orangered, red, blueviolet);
  --background: orange;
}